.container{
    display: flex;
    gap: 4px;
    margin: 30px 0 15px 0;
}
.containerImg{
    width: 40px;
    height: 40px;
    padding-right: 15px;
}
.containerImg img{
    border-radius: 50%;
}

.name{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.content{
    font-size: 13px;
    font-weight: 400;
    color: var(--black);
}