.wrapper{
    width: 334px;
    min-height: 200px;
    background-color: var(--white);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
}

.icon{
    width: 15px;
    height: 23px;
    color: var(--black);
    padding-right: 20px;
    padding-left: 10px;
}
.title{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 5px;
    color: var(--black);
}
