.card{
    width: 168px;
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
}
.img{
    width: 100%;
    height: 160px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.card .cardTitle{
    font-size: 12px;
    margin: 10px 0 0 10px ;
}
.card button{
    width: 70%;
    margin: 0 auto;
    margin-top: 6px;
    border: none;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}
.save{
    background-color: #0866FF;
    color: white;
}